<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>cognifide test task 12</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">

        <link rel="stylesheet" href="webfonts/stylesheet.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/style.css">
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/handlebars/handlebars.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="scripts/main.js"></script>

    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="main-container">
            <!-- HEADER -->
            <div class="social">
                <ul class="list-inline">
                    <li><a href="#"><img src="images/icon1.png"></a></li>
                    <li><a href="#"><img src="images/icon2.png"></a></li>
                    <li><a href="#"><img src="images/icon1.png"></a></li>
                    <li><a href="#"><img src="images/icon2.png"></a></li>
                    <li><a href="#"><img src="images/icon1.png"></a></li>
                    <li><a href="#"><img src="images/icon2.png"></a></li>
                </ul>   
            </div>

            <div class="logo">
                <a href="#">POZ<span class="light-blue">NAN</span> - CITY<span class="light-blue">2</span>LIVE</a>
            </div>

            <div class="top-nav">
                <ul class="top-menu list-inline">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <!-- MAIN IMAGE -->
            <div class="main-image">
                <figure>
                    <img src="images/main-image.jpg" alt="">
                    <figcaption>
                        <div class="image-caption">
                            <h2 class="image-sign">Visit Poz<span class="light-blue">nan</span></h2>
                            <p class="image-sign">a city on the <span class="light-blue">Warta</span> river in west-central <span class="light-blue">Poland</span>, the region called <span class="light-blue">Greater Poland.</span></p>
                        </div>
                    </figcaption>
                </figure>
                <div class="image-comments">
                    <div class="image-comment">
                        <div>
                            <p>I was in Poznan once. The architecture is really awesome.</p>
                            <span>Joe Wisdom, architect</span>
                        </div>
                        <img src="images/person1.jpg">
                    </div>

                    <script id="image-comment-template" type="text/x-handlebars-template">
                        <div class="image-comment">
                            <div>
                                <p>{{ comment }}</p>
                                <span>{{ author }}</span>
                            </div>
                            <img src="{{ photo }}">
                        </div>
                    </script>

                </div>
            </div>

            <!-- ASIDE -->
            <aside>
                <section class="about-author">
                    <h3>ABOUT AUTHOR</h3>
                    <p>
                        <span>John Doe</span> - lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta.
                    </p>
                </section>

                <section class="related-posts">
                    <h3>RELATED POSTS</h3>
                    <section class="related-post">
                        <img src="images/post_image1.jpg" alt=""/>
                        <h4>POZNAN AT NIGHT</h4>
                        <span class="post-comment">10 Comments</span>
                        <span class="clear"></span>
                    </section>
                    <section class="related-post">
                        <img src="images/post_image1.jpg" alt=""/>
                        <h4>PEOPLE TO MEET</h4>
                        <span class="post-comment">21 Comments</span>
                        <span class="clear"></span>
                    </section>
                    <section class="related-post">
                        <img src="images/post_image1.jpg" alt=""/>
                        <h4>POZNAN AT NIGHT</h4>
                        <span class="post-comment">17 Comments</span>
                        <span class="clear"></span>
                    </section>
                </section>

                <section class="currency">
                    <h3>CURRENCY</h3>
                    <table>
                        <thead>
                            <tr>
                                <td>Date</td>
                                <td>Value</td>
                                <td>Status</td>
                                <td>Diff</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>22.1</td>
                                <td>459.5</td>
                                <td><div class="sprite-9"></div></td>
                                <td>+1.0</td>
                            </tr>
                            <tr>
                                <td>21.1</td>
                                <td>459.5</td>
                                <td><div class="sprite-8"></div></td>
                                <td>-3.0</td>
                            </tr>
                            <tr>
                                <td>22.1</td>
                                <td>459.5</td>
                                <td><div class="sprite-9"></div></td>
                                <td>+8.0</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </aside>

            <!-- MAIN SECTION -->
            <div class="main-section">
                <div class="big-post">
                    <h2>WHY SHOULD YOU COME TO POZNAN</h2>
                    <div class="sign">
                        <div class="date">11 Nov 2013</div>
                        <div class="author">by <div>John Doe</div></div>
                    </div>
                    <p>
                        Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio  em nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla...
                    </p>
                    <div class="controls">
                        <a class="read-more" href="#">read more</a>
                        <div>
                            <a class="likes" href="#">10 likes</a>
                            <a class="comments" href="#">22 comments</a>
                        </div>
                    </div>
                </div>

                <div class="small-posts">
                    <script id="small-posts-tmpl" type="text/x-handlebars-template">
                        <article class="small-post shadow-effect">
                            <h3>{{ title }}</h3>
                            <p>Posted by <a href="#">{{ author }}</a> on <a href="#">{{ date }}</a></p>
                            <p>{{ post }}</p>
                            <a href="#">more...</a>
                            <footer>
                                <a href="" class="likes">{{ likes }}</a>
                                <a href="" class="comments">{{ comments }}</a>
                            </footer>
                        </article>
                    </script>
                </div>

                <div class="clear"></div>

                <div class="advertise-block shadow-effect">
                    your ad here
                </div>

            </div>
            <div class="divider clear">
                <hr>
            </div>

            <!-- MAP -->
            <div class="map">
                <h2>WHERE CAN I FIND MORE INFORMATION</h2>
                <div id="map-canvas"></div>
            </div>

            <div class="divider clear">
                <hr>
            </div>

            <div class="logo-small">
                <a href="#">POZ<span class="light-blue">NAN</span> - CITY<span class="light-blue">2</span>LIVE</a>
            </div>

            <div class="bottom-nav">
                <ul class="list-inline">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="divider clear">
                <hr>
            </div>

            <div class="copyright">
                <p>all rights reserved 2013</p>
            </div>

        </div>

</body>
</html>
